img{
    height: auto;
    width: 500px;
    border: solid;
    border-radius: 15%;
    border-width: 5px;
    border-color: rgba(0, 128, 0, 0.368);
    padding: 2px;
    margin: 0px;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-color: rgba(255, 153, 0, 0.1);
}

.header{
    text-align: center;
}

.recipes{
    font-size: 22px;
    text-align: center;
  }